@-moz-document url-prefix("https://dradis"){
	/*Get rid of the annoying margin of the dradis writing page*/
	.view-content .content-container {
		margin: 2px !important;
		padding: 20px !important;
	}
	.textile-wrap .textile-inner .textile-form .textile-form-field .editor-field {
		margin: 7px !important;
	}
	/*Reduce size of documents side bar*/
	.secondary-sidebar {
		max-width: 10% !important;
	}
	.secondary-sidebar-content{
		flex: 0 0 90% !important;
		max-width: 90% ! important;	
	}
}
